body {
    font-family: 'Lato', sans-serif;
}

h1 {
    position: relative;
    text-align: center;
}

.textarea {

    display: block;
    box-sizing: border-box;
    margin: 10px auto;
    padding: 10px;
    width: 800px;
    height: 200px;
    font-size: 18px;
}

.keyboard-container {
    background-color: rgba(255, 204, 204, 0.6);
    position: relative;
    margin: auto;
    width: 800px;
    padding: 5px;
    border-radius: 5px;
}

.button {
    background-color: rgb(168, 167, 167);
    box-sizing: border-box;
    width: 45px;
    height: 45px;
    color: black;
    font-size: 18px;
    text-align: center;
    padding-top: 10px;
    border-radius: 5px;
}

.button:hover {
    cursor: pointer;
}

.hidden {
    display: none;
}

.button.press {
    background-color: white;
    animation-name: press;
    animation-duration: 0.2s;
}

@keyframes press {
    from   {transform: scale(1.2);}
    to  {transform: scale(1);}
}

.up {
    text-transform: uppercase;
}

.Backspace,
.Tab {
    background-color: rgb(133, 133, 133);
    width: 90px;
}

.CapsLock,
.Enter {
    background-color: rgb(133, 133, 133);
    width: 110px;
}

.ShiftLeft {
    background-color: rgb(133, 133, 133);
    width: 130px;
}

.ControlLeft {
    background-color: rgb(133, 133, 133);
    width: 90px;
}

.MetaLeft,
.MetaRight {
    background-color: rgb(133, 133, 133);
    width: 70px;
}

.Space {
    background-color: rgb(133, 133, 133);
    width: 270px;
}

.AltLeft,
.AltRight,
.ShiftRight,
.ArrowUp,
.ArrowDown,
.ArrowLeft,
.ArrowRight {
    background-color: rgb(133, 133, 133);
}

.row-container {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.explanation {
    position: relative;
    text-align: center;
}